footer{
    background-color: #649f90;
    font-family: Arial, Georgia, 'Times New Roman', Times, sans-serif;
    
    
    

}
#subbutton{
    background-color: #d95824;
    position: relative;
    padding: 10px;
    border-radius: 9px;
    height: 35px;
    width: 100px;
    top: 190px;
    left: 150px;
    
}

input{
    padding: 10px;
    position: relative;
    border-radius: 10px;
    height: 12px;
    width: 150px;
    top: 189px;
    left: 145px;

    
}

img{ 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.hr{
    border: solid 1px #d95824;
    width: 80%;
    
}

.Donerkebab{
    Top: 83px;
    margin-left: 800px;
    position:relative;
    color: rgb(81, 81, 81);
}

.Doner{
    top: 79px;
    margin-left: 760px;
    position:relative;
    color: rgb(81, 81, 81);
    list-style: none;
}

.METALFINGERSDOOM{
    Top: -35px;
    margin-left: 980px;
    position:relative;
    color: rgb(81, 81, 81);
}

.KingGeedorah{
    Top: -38px;
    margin-left: 958px;
    position:relative;
    color: rgb(81, 81, 81);
    list-style: none;
}

.MUT{
    position: relative;
    top: 180px;
    left: 150px;
    color: rgb(81, 81, 81);
}

.codespace-img{
    position: relative;
    width: 150px;
    height: 100px;
    left: 125px;
    top: -40px;
    
}


@media (max-width:375px){
    .MUT{
    left: 5px;
    top: 40px;
    font-size: 1,7rem;
    }
    input{
        left:85px;
        top: 30px;
    }
    
    #subbutton{
        left:-95px;
        top:80px;
        width: 180px;
    }
    
    .Donerkebab{
        left:-720px;
        font-size: 1rem;
        top:68px;

    }
    .Doner{
        left: -720px;
        font-size: 0.8rem;
        top: 50px;
        white-space: nowrap;

    }

    .METALFINGERSDOOM{
        left:-901px;
        font-size: 1rem;
        top:35px;
    }
    
    .KingGeedorah{
        left: -918px;
        font-size: 0.8rem;
        top: 20px;
    
    }

    .hr{
        margin-top:60px !important;
    }

    .codespace-img{
        left: 20px;
    }
    
    

}








    
    


